/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custum css */
body {
  line-height: 1.5;
}
*{
    box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin {
  margin-top: 40px;
}
.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 80px;
}
.header-warp {
  background: #fff;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.brand a {
  text-decoration: none;
  font-size: 30px;
  color: orangered;
}
.brand a img {
  vertical-align: middle;
}
.nav a {
  text-decoration: none;
  vertical-align: middle;

  color: rgb(26, 25, 25);
  margin: 0 22px;
}
.hero-section {
  text-align: center;
  background-image: linear-gradient(#00000071, rgba(0, 0, 0, 0.329)),
    url(./assets/media/banner.jpg);
  height: 80vh;
  background-size: cover;
}

.fab {
  font-size: 18px;
  color: black;
  background-color: white;
  margin-top: 20px;
  margin-left: 18px;
  border: 10px solid white;
  border-radius: 50%;
  align-items: center;
}
.fa-basketball-ball {
  font-size: 18px;
  color: black;
  background-color: white;
  margin-top: 20px;
  margin-left: 18px;
  border: 10px solid white;
  border-radius: 50%;
  align-items: center;
}
.hero-heading {
  padding-top: 40vh;
  color: white;
}
.hero-heading h1 {
  font-size: 40px;
  border-bottom: 3px solid #fff;
  width: 31%;
  margin: 0 auto;
}
.hero-heading h3 {
  font-size: 21px;
  margin-top: 15px;
}
.btn {
  background-color: orangered;
  color: white;
  padding: 12px 18px;
  border: none;
  margin-top: 15px;
}
/* services */
.heading-parent {
  margin-top: 100px;
  text-align: center;
}
.heading {
  font-size: 30px;
  text-decoration: underline;
}
.p-tag-heading {
  font-size: 20px;
  margin-top: 10px;
}

.icon-service {
  width: 20%;
  height: 250px;
  font-size: 30px;
  color: white;
}
.bg-green {
  background-color: rgb(60, 173, 60);
}
.bg-orange {
  background-color: rgb(221, 90, 42);
}
.bg-blue {
  background-color: rgb(75, 75, 233);
}
.bg-light-green {
  background-color: rgb(52, 134, 52);
}

/* portfolio section */
.portfolio-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-img {
  width: 22%;
  margin: 0 auto;
  margin-bottom: 40px;
}
.portfolio-img img {
  width: 100%;
}
/* team section */
.team-parent {
  display: flex;
  justify-content: space-between;
}
.team-img {
  width: 23%;
  border-radius: 50%;
}
/* design skills */
.design-skills-heading {
  padding-top: 50px;
  text-align: center;
}
.design-skills-heading h2 {
  font-size: 20px;
}
.disign-skill p {
  font-size: 18px;
}

.progressbar {
  background-color: rgb(184, 170, 170);

  border: none;
}
.photoshop,
.html,
.development,
.markeating {
  background-color: red;

  height: 28px;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}
.width-photo {
  width: 90%;
}
.width-htlm {
  width: 80%;
}
.width-devel {
  width: 70%;
}
.width-mark {
  width: 80%;
}

.skills-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-skills {
  width: 58%;
}
.progressbar-parent {
  width:37%;
  
}
.contect{
    display:flex;
    justify-content: space-between;
    margin-top: 30px;
}
.about-contact{
   width:55%;
   line-height: 1.5;
   color: rgba(82, 79, 79, 0.589); 
}
.contact-form{
    width:35%;
}
.input{
    width: 100%;
    margin: 0 auto;
    padding:16px;
    margin-bottom: 10px;
}

.btn-2{
    width:100%;
    background-color: orangered;
  color: white;
  padding: 12px 18px;
  border: none;
  margin-top: 15px;
}
/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 10px;
}
.copy-right{
color: rgba(82, 79, 79, 0.589); 
}
.btn-3{
    background-color: orangered;
    color: white;
    padding: 12px 18px;
    border: none;
    
}
/* gallery */
.gallery-section{
    
    display: flex;
    justify-content: space-between;
}
.flex-color a{
    color: white;
    font-size: 40px;
}
.home{
    background-color: orangered;
    width:30%;
    height:100vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 24px;
}
.home-design a{
    font-size:13px;
    color: white;
    border:2px solid white;
    padding: 4px 10px;
    border-radius: 5px;
}
.home-about h3{
    font-size: 32px;
    color:white;
    font-family:fantasy;
}
.home-about p{
    font-size:18px;
    font-family:fantasy;
    line-height:1.7;
}
.gallery-flex{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 45%;
}

.gallery-img{
 width:70%;
  margin-left: 30%;
}
.gallery-flex img{
    width:100%;
    margin: 0 auto;
    margin-bottom: 24px;
    border: 2px solid black;
}
.gallery-img h1{
font-size: 40px;
text-align: center;
margin-bottom: 30px;
}
.flex-se{
    display: flex;
    justify-content: space-evenly;
}